__pycache__
/test
/datasets/cisi/*
/datasets/nq/*
/datasets/dbpedia-entity/*
/datasets/scifact/*
/datasets/situatedQA/*
/datasets/normalized_datasets/*
!.gitkeep
.venv/
.vscode
__pycache__/
*.pyc
/benchmarks/beir/results
/benchmarks/beir/logs
/benchmarks/beir/runs
/benchmarks/beir/scripts/demo_kb_vs_no_kb.py
/benchmarks/beir/scripts/run_rerank_beir.py
/benchmarks/pyserini/indexes
/benchmarks/pyserini/logs
/benchmarks/pyserini/prepared
/benchmarks/pyserini/results
/benchmarks/pyserini/runs
*.ps1
demo.py
tools/
artifacts/